<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Styleum needs camera access to photograph your clothing items</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Styleum needs photo library access to add clothing items from your library</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.642816391624-9f84235tn3aimlhekvo0tcgteh7m5mp2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>642816391624-9f84235tn3aimlhekvo0tcgteh7m5mp2.apps.googleusercontent.com</string>
</dict>
</plist>
