<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Styleum needs camera access to photograph your clothing items</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Styleum needs photo library access to add clothing items from your library</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Styleum uses your location to provide weather-appropriate outfit suggestions.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.642816391624-9f84235tn3aimlhekvo0tcgteh7m5mp2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>642816391624-9f84235tn3aimlhekvo0tcgteh7m5mp2.apps.googleusercontent.com</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.styleum.styleme</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Style Me</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>wand.and.stars</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.styleum.additem</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Item</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>camera</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.styleum.wardrobe</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>My Wardrobe</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>tshirt</string>
		</dict>
	</array>
</dict>
</plist>
